.father {
  color: red;
  width: 1.81333333rem;
}
.father .son {
  height: 0.77333333rem;
}
/* 多行注释 */
.box {
  width: 120px;
  width: 20px;
  width: 200px;
  width: 50px;
  height: 0.77333333px;
}
.father1 {
  color: cyan;
}
.father1 .son1 {
  width: 700px;
}
.father1 .son1 a {
  color: greenyellow;
}
.father1 .son1 a:hover {
  color: cornflowerblue;
}
.box2 {
  width: 100px;
}
.box3 {
  width: 200px;
}
