*,
::after,
::before {
  box-sizing: border-box;
}
body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, PingFangSC-Regular, "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
}
img {
  vertical-align: bottom;
}
ul {
  list-style-type: none;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background-color: #f9fafb;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  height: 13.33333333vw;
  width: 100%;
  background-color: #fff;
}
header img {
  height: 13.33333333vw;
}
header a {
  width: 21.33333333vw;
  height: 8vw;
  background-color: #ffe31b;
  border-radius: 8vw;
  line-height: 8vw;
  text-align: center;
}
.search {
  margin: 2.66666667vw 4vw;
  margin-top: 16vw;
  height: 8.53333333vw;
  width: 92vw;
  border-radius: 8.53333333vw;
  line-height: 8.53333333vw;
  text-align: center;
  font-size: 3.73333333vw;
  color: #A2A4B3;
  background-color: #F2F4F5;
}
.search .iconfont-sousuo {
  font-size: 4.26666667vw;
  color: #A2A4B3;
}
.banner {
  margin: 0 4vw;
  height: 28.8vw;
}
.banner ul li {
  width: 92vw;
  height: 28.8vw;
}
.banner ul li .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.33333333vw;
}
.title {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.title h4 {
  color: #333;
  font-size: 5.33333333vw;
}
.title a {
  color: #A1A4B3;
  font-size: 3.2vw;
}
.list {
  margin: 5.33333333vw 4vw;
}
.list .cards ul li {
  display: flex;
  margin-top: 15px;
  width: 92vw;
  height: 28vw;
  background-color: #fff;
  border-radius: 10px;
}
.list .cards ul li img {
  height: 28vw;
  width: 28vw;
  border-radius: 10px;
}
.list .cards ul li .txt {
  margin-left: 4vw;
}
.list .cards ul li .txt .more {
  height: 7.46666667vw;
  line-height: 7.46666667vw;
  color: #333;
  font-size: 3.73333333vw;
  font-weight: 400;
}
.list .cards ul li .txt a {
  height: 5.6vw;
  line-height: 5.6vw;
  color: #A1A4B3;
  font-size: 3.2vw;
}
.recommend {
  margin: 15px;
}
.recommend .cards {
  width: 28vw;
}
.recommend .cards ul {
  width: 92vw;
  display: flex;
  flex-wrap: wrap;
}
.recommend .cards ul li {
  margin: 4vw;
  margin-left: 0;
  z-index: 1;
}
.recommend .cards ul li:nth-child(3),
.recommend .cards ul li:nth-child(6) {
  margin-right: 0;
}
.recommend .cards ul li:nth-child(4),
.recommend .cards ul li:nth-child(5),
.recommend .cards ul li:nth-child(6) {
  margin-bottom: 0;
}
.recommend .cards ul li .pic {
  position: relative;
}
.recommend .cards ul li .pic img {
  height: 28vw;
  width: 28vw;
  border-radius: 2.66666667vw;
}
.recommend .cards ul li .pic .cover {
  position: absolute;
  bottom: 0;
  width: 18.66666667vw;
  height: 7.46666667vw;
  font-size: 3.73333333vw;
  line-height: 7.46666667vw;
  color: #FFF;
  background-color: #000000CC;
  border-radius: 0 2.66666667vw;
  z-index: 2;
  text-align: center;
}
.recommend .cards ul li .txt {
  width: 28vw;
  font-size: 3.73333333vw;
}
.download {
  position: fixed;
  left: 4vw;
  bottom: 8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8vw;
  width: 92vw;
  height: 12vw;
  border-radius: 12vw;
  padding-left: 4vw;
  padding-right: 2.66666667vw;
  background-color: #fff;
  z-index: 3;
}
.download img {
  height: 9.6vw;
  margin-right: 2.66666667vw;
}
.download .txt {
  flex: 1;
  font-size: 3.73333333vw;
  color: #333;
}
.download .right {
  height: 12vw;
  width: 12vw;
}
.download span {
  display: block;
  height: 8.53333333vw;
  width: 8.53333333vw;
  border-radius: 8.53333333vw;
  background-color: #F2F3F5;
  text-align: center;
  line-height: 8.53333333vw;
}
